html {
    height: 100vh;
}

body {
    background-color: rgb(209, 209, 209);
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.content {
    height: 100%;

    display: flex;
    flex-grow: 1;
}

.nodeRect {
    fill-opacity: .5;
    /* rx: 50%; */
}

.link {
    /* stroke: rgb(135, 135, 135); */
    stroke-width: 2px;
    fill-opacity: .5;
    stroke-opacity: .5;
}

#sim {
    border: 1px solid;
}

svg {
    border: 1px solid;
    min-height: 700px;
}

.ui {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

textarea {
    flex-grow: 1;
}

#sim {
    /* flex- */
    flex-grow: 1;
}

.nodetext {
    pointer-events: none;
    text-anchor: middle;
    font-size: .8rem;
}

#chainpaths {
    padding: 1rem;
}


#sim2svg {
    width: 100%;
    border: 2px solid black;
}
